@model VetClinic.Models.Month

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<body>
    <h2>Index</h2>
    @{
        List<VetClinic.Models.Pet> currentPets = new List<VetClinic.Models.Pet>();

        bool isHaveTaskForCurrentDoctor = false;
        foreach (VetClinic.Models.Day day in Model.days)
        {
            if ((day.isHaveTask))
            {
                for (int j = 0; j < day.taskList.Count; j++)
                {
                    if (day.taskList[j].doctorID == ViewBag.CurrentID)
                    {
                        isHaveTaskForCurrentDoctor = true;
                    }
                    else
                    {
                        isHaveTaskForCurrentDoctor = false;
                    }
                }
            }
            else { isHaveTaskForCurrentDoctor = false; }


            if (isHaveTaskForCurrentDoctor)
            {
                <form action="/Detail/Index" method="Post">
                    <fieldset>
                         <select id="userPetID" name="userPetID">
                            @for (int i = 0; i < day.taskList.Count; i++)
                    {
                                <option value=@day.taskList[i].petID>@day.taskList[i].petName</option>
                            }
                        </select>
                        <p><input type="submit" value="Submit" /> </p>
                    </fieldset>
                </form>
            }
        }
    }

</body>
