@model List<VetClinic.Models.Card>

@{
    ViewBag.Title = "Карточка питомца";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>Карточка питомца</h2>
<body>
@{
    foreach(VetClinic.Models.Card card in Model)
    {
        WriteLiteral("<pre>");
        @card.Disease 
        WriteLiteral("<br>");
         @card.Date.ToShortDateString();
        WriteLiteral("</pre>");
        WriteLiteral("<br>");
    }

}
</body>