@model List<VetClinic.Models.Card>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<body>
@{
    foreach(VetClinic.Models.Card card in Model)
    {
        WriteLiteral("<pre>");
        @card.Disease 
        WriteLiteral("<br>");
         @card.Date
        WriteLiteral("</pre>");
        WriteLiteral("<br>");
    }

}
</body>