@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Успех";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div class="alert alert-success">
            <h2>Действие прошло успешно</h2>
            </div>
            @Html.ActionLink("Вернуться на главную страницу", "Index", new { area = "Default", controller = "Home" })
            @Html.ActionLink("Вернуться к администрированию", "Index", "Home")
        </div>
</body>
</html>
