@model VetClinic.Models.ViewModels.ClientView

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>AddClient</h2>
@using (Html.BeginForm("AddClient", "Client", FormMethod.Post, new
{
    @class = "formhorizontal"
}))
{
    <blockquote>
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="Name">
                    Name
                </label>
                <div class="controls">
                    @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
                    @Html.ValidationMessage("Name")
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Email">
                    Email
                </label>
                <div class="controls">
                    @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
                    @Html.ValidationMessage("Email")
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    Добавить
                </button>

        </fieldset>
        </blockquote>
}
