@{
    ViewBag.Title = "Помощь";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>Помощь</h2>

<blockquote>
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Для посетителей</h3>
    </div>
    <div class="panel-footer">
         Как посетитель на нашем сайте вы можете:<br/>
         Оставить и посмотреть анонимные отзывы о врачах<br/>
         Записать своего питомца на прием, при условии, что вы зарагестрированны в нашей клинике
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h3>Для врачей</h3>
    </div>
    <div class="panel-footer">
        Для регистриации в роли врача на нашем сайте вам необходимо:<br />
        Пройти простую процедуру регистрации<br />
        Подвердить свою регистрицию по ссылке, отправленной на ваш e-mail адрес<br />
        Дождаться пока администратор удтвердит вас на роль врача
        <br />
        <br />
        После этого вы сможете<br />
        На главном календаре просматривать всех посетителей на текущий месяц<br />
        Оставлять записи в карточках питомцев, прошедших прием<<br />
        Просматривать карточку питомцев, записанных на прием
    </div>
</div>
</blockquote>
