@model List<VetClinic.Models.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2><span class="label label-info">Расписание приема</span></h2> <br>
