@{
    ViewBag.Title = "Администратор добавлен";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>В базу добавлен новый администратор</h2>

Емейл: admin@admin.admin <br />
Пароль: 123<br />

<h2>В базу добавлен врач и прием для него</h2><br />

Емейл: 1@1.1<br />
Пароль: 123<br />
