@model VetClinic.Models.Doctor

@{
    ViewBag.Title = "UserLogin";
    Layout = null;
}

@if (Model != null)
{


    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(Model.Name, "Index", "Home")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Выход", "Logout", "Login")</li>
    </ul>
        

}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Регистрация", "Register", "Doctor")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Вход", "Index", "Login")</li>
    </ul>
        
       <!-- <li></li>-->
    
}
