@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    <h2>Вы были успешно записаны на прием</h2>
    <h3>Ждем вас</h3>
    </div>
